#abingo_dashboard
  %h1 Welcome to your A/Bingo dashboard!
  
  %p.default_help
    See <a href="http://www.bingocardcreator.com/abingo">the official site</a> for documentation.
    I encourage you to customize this page to fit your needs.  See /vendor/plugins/abingo/views for
    the view templates.  Hack them to pieces -- please!  
  
  %h2 All Experiments
  = render :partial => 'dashboard/experiment', :collection => @experiments
  
  
